<table class="min-w-full bg-white">
  <thead>
      <tr>
          <th class="py-2 px-4 border">ID</th>
          <th class="py-2 px-4 border">Nome</th>
          <th class="py-2 px-4 border">Email</th>
          <th class="py-2 px-4 border">Telefone</th>
      </tr>
  </thead>
  <tbody>
      {% for cliente in clientes %}
      <tr>
          <td class="py-2 px-4 border">{{ cliente[0] }}</td>
          <td class="py-2 px-4 border">{{ cliente[1] }}</td>
          <td class="py-2 px-4 border">{{ cliente[2] }}</td>
          <td class="py-2 px-4 border">{{ cliente[3] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>